div(layout="column" layout-align="center center")
  img(ngf-src="register.Photo" ngf-resize="{width: 300, height: 500}")

div(layout="column" layout-align="center center")
  div(layout="row")
    md-button(class="md-primary" ngf-select ng-model="register.Photo") Upload Photo
    md-button(class="md-warn" ng-click="register.Photo = {}") X
  div(layout="row")
    md-button(class="md-primary" ngf-select ng-model="register.CV") Upload CV
    md-button(class="md-warn" ng-click="register.CV = {}") X
  
div(layout="column" layout-align="center center" ng-if="register.CV")
  svg(fill="auto" height="42" widt="42" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
      path(d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z")
      path(d="M0 0h24v24H0z" fill="none")
  p {{register.CV.name}}
